.portfolio-container {
  height: 100vh;
  position: relative; }

.portfolio-container .header-content .title {
  font-size: 3em;
  font-family: 'Lucida Grande', sans-serif;
  color: transparent;
  text-transform: uppercase;
  font-weight: 600;
  background: linear-gradient(90deg, #47389f, #067272 70%);
  margin-bottom: 0.3em; }

.portfolio-container .header-content .title {
  background-clip: text;
  -webkit-background-clip: text; }

.portfolio-container .header-content .text {
  font-size: 1.1em;
  margin-bottom: 1.5em;
  text-transform: uppercase;
  color: #797979; }

.escopo-content {
  width: 35%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-height: 60%; }

.portfolio-container .escopo-content .navbarMain .items {
  display: flex;
  margin-bottom: 2em; }

.portfolio-container .escopo-content .navbarMain .items .item {
  margin-right: 1vw; }

.portfolio-container .escopo-content .navbarMain .items .item-text {
  font-family: 'Arial', sans-serif;
  font-weight: bold; }

.portfolio-container .escopo-content .navbarMain .items a {
  height: 1.5em;
  width: 1.5em;
  display: block;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-size: contain; }

.portfolio-container .escopo-content .navbarMain .items a[href*="linkedin.com"] {
  background-image: url(../img/linkedin.png); }

.portfolio-container .escopo-content .navbarMain .items a[href*="github.com"] {
  background-image: url(../img/github-logo.png); }

.portfolio-container .escopo-content .port-table {
  margin: 0 auto; }

.portfolio-container .escopo-content .port-table .squares {
  width: 8em;
  height: 8em;
  margin: 0.2em;
  float: left;
  text-align: center;
  line-height: 8em;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  position: relative;
  cursor: pointer; }

.portfolio-container .escopo-content .port-table .squares::after {
  content: '';
  display: block;
  background-image: url(../img/barra.jpg);
  width: 50px;
  height: 4px;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%); }

.portfolio-container .escopo-content .port-table .squares:nth-child(1) {
  border-radius: 1.15em 0 0 0;
  background-color: #47389f;
  background: linear-gradient(to bottom right, #47389f, #067272); }

.portfolio-container .escopo-content .port-table .squares:nth-child(2) {
  border-radius: 0 1.15em 0 0;
  background-color: #5a2da2;
  background: linear-gradient(to bottom right, #5a2da2, #b01c66); }

.portfolio-container .escopo-content .port-table .squares:nth-child(3) {
  border-radius: 0 0 0 1.15em;
  background-color: #2703d5;
  background: linear-gradient(to bottom right, #2703d5, #6417a3); }

.portfolio-container .escopo-content .port-table .squares:nth-child(4) {
  border-radius: 0 0 1.15em 0;
  background-color: #78511a;
  background: linear-gradient(to bottom right, #78511a, #b82053); }

.img-container {
  background-image: url(../img/pc-img.jpg);
  background-size: cover;
  padding: 0;
  position: relative; }

.img-container::before {
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #4c32a0;
  opacity: 0.7; }

.img-container .img-text {
  width: 30vw;
  height: 10vh;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 0.25em;
  position: absolute;
  right: 0;
  bottom: 10%;
  font-size: 0.8em; }

.img-container .img-text p {
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 1.6em;
  display: flex;
  align-items: center; }

/* modal */
.modal-container {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: -1; }

.modal-container .modal-cont .modalHeader h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.7em; }

.modal-container .modal-cont {
  width: 60%;
  background-color: #fff;
  margin: 4% auto;
  padding: 1.2em;
  border-radius: 1em;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  position: relative; }

.modal-container .modal-cont .fechar {
  color: #797979;
  float: right;
  font-size: 1.9em;
  font-weight: bold; }

.modal-container .modal-cont .fechar:hover {
  color: #333;
  cursor: pointer; }

.modal-container .modal-cont .modalFooter {
  width: 100%;
  height: 1em;
  position: absolute;
  bottom: 0;
  left: 0px;
  border-radius: 0 0 1em 1em; }

.modal-container .modal-cont .fSobre {
  background-color: #47389f;
  background: linear-gradient(90deg, #47389f, #067272); }

.modal-container .modal-cont .fSkill {
  background-color: #5a2da2;
  background: linear-gradient(90deg, #5a2da2, #b01c66); }

.modal-container .modal-cont .fPort {
  background-color: #2703d5;
  background: linear-gradient(90deg, #2703d5, #6417a3); }

.modal-container .modal-cont .fContato {
  background-color: #78511a;
  background: linear-gradient(90deg, #78511a, #b82053); }

/* modal class */
.modal-bg {
  opacity: 1;
  z-index: 2;
  transition: 0.5s; }

/*modal skill */
#modalSkills .modal-cont .modalBody {
  margin-top: 2em;
  overflow: scroll;
  height: 55vh;
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column; }

#modalSkills .modal-cont .modalBody .barra-content {
  display: flex;
  align-items: center;
  margin-bottom: 1.5em; }

#modalSkills .modal-cont .modalBody .barra-content .barra-skill {
  width: 70%;
  position: relative;
  height: 1em;
  line-height: 1em;
  background-color: #797979;
  border-radius: 0.2em; }

#modalSkills .modal-cont .modalBody .barra-content .barra-skill p {
  position: absolute;
  font-size: 0.65em;
  background-color: #A6DC00;
  height: 100%;
  border-radius: 0.2em 0 0 0.2em;
  text-align: center; }

#modalSkills .modal-cont .modalBody .barra-content .barra-skill .barra-html {
  width: 90%; }

#modalSkills .modal-cont .modalBody .barra-content .barra-skill .barra-css {
  width: 90%; }

#modalSkills .modal-cont .modalBody .barra-content .barra-skill .barra-js {
  width: 65%; }

#modalSkills .modal-cont .modalBody .barra-content .barra-skill .barra-wp {
  width: 65%; }

#modalSkills .modal-cont .modalBody .barra-content .barra-skill .barra-bt {
  width: 70%; }

#modalSkills .modal-cont .modalBody .barra-content .barra-skill .barra-jq {
  width: 40%; }

#modalSkills .modal-cont .modalBody .barra-content .barra-skill .barra-ss {
  width: 50%; }

#modalSkills .modal-cont .modalBody .barra-content span {
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  width: 8vw; }

#modalSkills .modal-cont .modalBody .barra-content::before {
  background-repeat: no-repeat;
  background-size: contain;
  width: 3em;
  height: 3em;
  display: inline-block;
  margin-right: 1em; }

#modalSkills .modal-cont .modalBody .barra-content:nth-child(1)::before {
  content: '';
  background-image: url(../img/html-5.png); }

#modalSkills .modal-cont .modalBody .barra-content:nth-child(2)::before {
  content: '';
  background-image: url(../img/css.png); }

#modalSkills .modal-cont .modalBody .barra-content:nth-child(3)::before {
  content: '';
  background-image: url(../img/js.png); }

#modalSkills .modal-cont .modalBody .barra-content:nth-child(4)::before {
  content: '';
  background-image: url(../img/wordpress.png); }

#modalSkills .modal-cont .modalBody .barra-content:nth-child(5)::before {
  content: '';
  background-image: url(../img/bootstrap.png); }

#modalSkills .modal-cont .modalBody .barra-content:nth-child(6)::before {
  content: '';
  background-image: url(../img/jquery.png); }

#modalSkills .modal-cont .modalBody .barra-content:nth-child(7)::before {
  content: '';
  background-image: url(../img/sass.png); }

/* modal contato */
#modalContato .modal-cont .modalBody .dados {
  width: 100%;
  margin-bottom: 0.65em; }

#modalContato .modal-cont .modalBody label {
  display: block; }

#modalContato .modal-cont .modalBody input:nth-child(2) {
  display: inline-block;
  width: 49%;
  margin-right: 0.75em; }

#modalContato .modal-cont .modalBody input:nth-child(3) {
  display: inline-block;
  width: 49%; }
