@import "sass/settings";

.portfolio-container{
    height: 100vh;
    position: relative;
}
.portfolio-container .header-content .title{
    font-size: 50px;
    color: rgba(0,0,0,0);
    text-transform: uppercase;
    font-weight: 700;
    background: linear-gradient(to bottom right, #47389f,	#067272);
    background-clip: text;
    -webkit-background-clip: text;
}
.portfolio-container .header-content .text{
    font-size: 18px;
    text-transform: uppercase;
    color: $gray-color;
}
.escopo-content{
    width: 35%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate( -50%, -50%);
    min-height: 60%;
}
.portfolio-container .escopo-content .navbarMain .items{
    display: flex;
    padding: 0;
    margin-bottom: 2em;
}
.portfolio-container .escopo-content .navbarMain .items .item{
    margin-right: 1vw;
}
.portfolio-container .escopo-content .navbarMain .items .item-text{
    font-weight: bold;
}
.portfolio-container .escopo-content .navbarMain .items a{
    height: 24px;
    width: 24px;
    display: block;
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-size: contain;
}
.portfolio-container .escopo-content .navbarMain .items a[href*="linkedin.com"]{
    background-image: url(../img/linkedin.png);
}
.portfolio-container .escopo-content .navbarMain .items a[href*="github.com"]{
    background-image: url(../img/github-logo.png);
}

.portfolio-container .escopo-content .port-table{
    margin: 0 auto;
    padding: 0;
}
.portfolio-container .escopo-content .port-table .squares{
    width: 140px;
    height: 140px;
    margin: 4px;
    float: left;
    text-align: center;
    line-height: 140px;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: bold;
}
.portfolio-container .escopo-content .port-table .squares a{
    color: $light-color;
    padding-bottom: 8px;
    border-bottom: 4px solid $light-color;
    text-decoration: none;
}
.portfolio-container .escopo-content .port-table .squares:nth-child(1){
    border-radius: 20px 0 0 0;
    background-color: #47389f;
    background: linear-gradient(to bottom right, #47389f,	#067272);
}
.portfolio-container .escopo-content .port-table .squares:nth-child(2){
    border-radius: 0 20px 0 0;
    background-color: #5a2da2;
    background: linear-gradient(to bottom right, #5a2da2,	#b01c66);
}
.portfolio-container .escopo-content .port-table .squares:nth-child(3){
    border-radius: 0 0 0 20px;
    background-color: #2703d5;
    background: linear-gradient(to bottom right, #2703d5,	#6417a3);
}
.portfolio-container .escopo-content .port-table .squares:nth-child(4){
    border-radius: 0 0 20px 0;
    background-color: #78511a;
    background: linear-gradient(to bottom right, #78511a,	#b82053);
}

.img-container{
    background-image: url(../img/pc-img.jpg);
    background-size: cover;
    padding: 0;
    position: relative;
}
.img-container::before{
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: $blue-color;
    opacity: 0.7;
}
.img-container .img-title{
    width: 30vw;
    height: 10vh;
    padding: 15px;
    background-color: rgba(0,0,0,.5);
    color: $light-color;
    border-radius: 5px;
    position: absolute;
    right: 0;
    bottom: 10%;
}
.img-container .img-title h2{
    font-size: .8em;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
}


